<form [formGroup]="itemForm" (ngSubmit)="onSubmit($event)">
  <ion-item>

    <ion-input style="font-size: 30px !important;" labelPlacement="stacked" label="Name:" formControlName="name"
      type="text"></ion-input>
  </ion-item>


  <br>
  <ion-button *ngIf="techService.techSelected == undefined" expand="full" type="submit" [disabled]="itemForm.invalid">
    Submit</ion-button>
  <ion-button *ngIf="techService.techSelected != undefined" expand="full" type="submit" [disabled]="itemForm.invalid">
    Update</ion-button>
</form>
