<div style="width: 100%; vertical-align: middle;height: 100%;margin-top: 200px;">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>

      <ion-col size-md="8" size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>MENU</ion-card-title>
            <ion-card-subtitle>Please make a selection</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>


            <ion-button size="large" expand="block" (click)="jobsClick()">JOBS</ion-button>

            <br>
            <br>

            <ion-button size="large" expand="block" (click)="itemsClick()">ITEMS</ion-button>

            <br>
            <br>

            <ion-button size="large" expand="block" (click)="techClick()">TECHNICIAN</ion-button>



          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col></ion-col>

    </ion-row>
  </ion-grid>
</div>
<div> V4 </div>

<!-- <app-videoPlayerComponent [videoUrl]="hlsStreamUrl"></app-videoPlayerComponent> -->
