<div style="width: 100%; vertical-align: middle;height: 100%;margin-top: 200px;">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>

      <ion-col size-md="8" size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
            <ion-card-subtitle>Please Login</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>

            <ion-item>
              <ion-input labelPlacement="stacked" label="Login:" placeholder="Username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input labelPlacement="stacked" label="Password:" placeholder=""></ion-input>
            </ion-item>

            <br>
            <br>
            <ion-button expand="block">Login</ion-button>


          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col></ion-col>

    </ion-row>
  </ion-grid>
</div>
