.itemContainer {
  margin-bottom: 8px;
  padding: 5px;
  background-color: lightblue;
  color: black;
  border: 1px;
  border-radius: 10px;
  border-color: blue;
  border-style: solid;
}

ion-col {
  padding: 0px;
}

ion-row {
  padding: 0px !important;
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allows the buttons to wrap to the next line if they exceed the container's width */
  gap: 10px; /* Adjust the spacing between buttons */
}

.button-container div {
  flex: 0 1 auto; /* Allows the buttons to maintain their natural size */
}

.input-container {
  position: relative;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #666; /* Adjust the color as needed */
  z-index: 999999;
}
