<ion-grid class="joblamp-grid">
  <ion-row class="ion-align-items-stretch ion-justify-content-start">

    <ion-col size="12" size-md="6" size-lg="3">
      <ion-card class="info-card">
        <ion-card-content>
          <div class="label">Serial Number</div>
          <div class="value">{{ jobLamp.serialNumber }}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="3">
      <ion-card class="info-card">
        <ion-card-content>
          <div class="label">MAC Address</div>
          <div class="value">{{ jobLamp.macAddress }}</div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="12" size-lg="4">
      <ion-card class="info-card">
        <ion-card-content>
          <div class="label">New MAC Address</div>

          <ion-item lines="none" class="input-item">
            <ion-input [(ngModel)]="jobLamp.macAddressQA" placeholder="Enter new MAC address" clearInput="true"
              inputmode="text">
            </ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" (click)="updateMacAddress()">
            UPDATE MAC
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="12" size-lg="2">
      <ion-card class="info-card">
        <ion-card-content>
          <div class="label">Job</div>

          <ion-button expand="block" color="success" (click)="clickComplete()"
            *ngIf="jobLamp.jobLampStatus == JobLampStatus.reparing">
            COMPLETE
          </ion-button>

          <ion-button expand="block" [disabled]="true" *ngIf="jobLamp.jobLampStatus == JobLampStatus.repeaired">
            COMPLETED
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>





<ion-card-content style="padding-bottom: 120px;padding-left: 0px !important;padding-right: 0px !important;">


  <div *ngIf="selectedSegment === 'all'">

    <h2> Search: </h2>
    <div class="input-container">
      <ion-input fill="solid" style="font-size: 30px !important; margin-bottom: 10px;" [(ngModel)]="searchTerm"
        (ionInput)="filterItems()" type="text"></ion-input>
      <ion-icon name="close-circle" class="clear-icon" (click)="clearSearch()"></ion-icon>
    </div>

    <div *ngFor=" let item of this.filteredItems">

      <div class="itemContainer" [ngStyle]="{'background-color': item.colour}">
        <ion-grid style="padding: 0px !important;">
          <ion-row>
            <ion-col style="font-size: 18px;text-align: left;" size="12">
              {{item.name}}
              -- P-CODE: {{item.p_Code}}
            </ion-col>







          </ion-row>
          <ion-row>
            <ion-col style="font-size: 18px;text-align: left;" size="12">
              <div class="button-container">
                <div *ngFor="let i of createRange(item.max+1); let index = index">
                  <ion-button (click)="valueClick(index,item)" [color]="getColour(index,item)"> {{index }}</ion-button>
                </div>

                <ion-button style="margin-left: 20px;" [color]="getRSelected(item)" (click)="getRClick(item)"> R
                </ion-button>

              </div>


            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>






  </div>

  <div *ngIf="selectedSegment === 'repaired'">

    <div *ngFor=" let item of this.filteredItems">

      <div class="itemContainer" [ngStyle]="{'background-color': item.colour}" *ngIf="getActiveItem(item)">
        <ion-grid style="padding: 0px !important;">
          <ion-row>
            <ion-col style="font-size: 18px;text-align: left;" size="12">
              {{item.name}}
              -- P-CODE: {{item.p_Code}}
            </ion-col>







          </ion-row>
          <ion-row>
            <ion-col style="font-size: 18px;text-align: left;" size="12">
              <div class="button-container">
                <div *ngFor="let i of createRange(item.max+1); let index = index">
                  <ion-button (click)="valueClick(index,item)" [color]="getColour(index,item)"> {{index }}</ion-button>
                </div>

              </div>


            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>




</ion-card-content>



<ion-segment style="position: fixed;bottom: 0px; background-color: white;padding:0px;"
  (ionChange)="segmentChanged($event)" value="all">
  <ion-segment-button value="all">
    <ion-icon name="list"></ion-icon>
    <ion-label>ALL</ion-label>
  </ion-segment-button>
  <ion-segment-button value="repaired">
    <ion-icon name="hammer"></ion-icon>
    <ion-label>REPAIRED ITEMS</ion-label>
  </ion-segment-button>
</ion-segment>
